body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* For navigation links */

a {
  text-decoration: none;
}

#pageNotFoundLink {
  color: red;
}

a:visited {
  color: black;
}

/* NFTModal */

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(100px);
  transition: all 400ms cubic-bezier(0.17, 0.67, 0.57, 0.95);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

