html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#marketplace-scrolling-text {
  font-weight: bold;
  font-size: 15px;
  color: black;
}

#marketplace-scrolling-text:hover {
  color: #8d40d5;
}

a {
  text-decoration: none;
}

a.user-icon-login {
  font-weight: bold;
  color: blue;
}

.highlighted-summary {
  color: #8a2be2;
}

#terms_and_condtions {
  color: #a26cd4;
  cursor: pointer;
}

#pageNotFoundLink {
  color: black;
  font-size: 13px;
}

/* NavBar link styling */

a.nav-bar {
  color: black;
}

a.active.nav-bar {
  color: white;
  background-color: #8554b3;
  padding: 7px;
  border-radius: 10px;
}

/* NFTModal */

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(100px);
  transition: all 200ms cubic-bezier(0.17, 0.67, 0.57, 0.95);
  z-index: 100;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

/* Checkout button */

.button-52 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #60318c;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

/*Sell NFT button */

.fifth {
  border-color: purple;
  font-weight: 700;
  font-size: 15px;
  width: 50%;
  height: 45px;
  border: 2px solid purple;
  border-radius: 20px;
  cursor: pointer;
  color: purple;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 400ms ease-in-out;
}
.fifth:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: purple;
  z-index: -1;
  transition: width 200ms ease-in-out;
}
.fifth:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 110%;
}

/*Checkout button */

.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 10rem;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5c045c;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ac11ac;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}
